In [1]:
import numpy as np
np.set_printoptions(suppress=True, linewidth=100, precision=2)

In [2]:
# importing data

In [3]:
raw_data = np.genfromtxt('loan-data.csv',
                     delimiter=';',
                    skip_header=1,
                    autostrip=True)
print(raw_data)

[[48010226.           nan    35000.   ...         nan         nan     9452.96]
 [57693261.           nan    30000.   ...         nan         nan     4679.7 ]
 [59432726.           nan    15000.   ...         nan         nan     1969.83]
 ...
 [50415990.           nan    10000.   ...         nan         nan     2185.64]
 [46154151.           nan         nan ...         nan         nan     3199.4 ]
 [66055249.           nan    10000.   ...         nan         nan      301.9 ]]

In [4]:
# dealing with mising values

In [5]:
# missing value count
print(np.isnan(raw_data).sum())

88005

In [6]:
max_fill = np.nanmax(raw_data) + 1
mean_fill = np.nanmean(raw_data,axis=0)
# the error means either empty row, or row full of text values

C:\Users\nbrock\AppData\Local\Temp\ipykernel_19880\3492964911.py:2: RuntimeWarning: Mean of empty slice
  mean_fill = np.nanmean(raw_data,axis=0)

In [7]:
print(mean_fill)

[54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92
         nan         nan         nan         nan         nan     3143.85]

In [8]:
# separate str and numeric cols

In [9]:
# split into numeric and string separate arrays
# first, get min and max for filling

tmp_stats = np.array([np.nanmin(raw_data, axis=0),
                      mean_fill,
                      np.nanmax(raw_data,axis=0)])
print(tmp_stats)
# again, error saying full row of nans
# result array: min array, mean array, max array

[[  373332.           nan     1000.           nan     1000.           nan        6.         31.42
          nan         nan         nan         nan         nan        0.  ]
 [54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92
          nan         nan         nan         nan         nan     3143.85]
 [68616519.           nan    35000.           nan    35000.           nan       28.99     1372.97
          nan         nan         nan         nan         nan    41913.62]]

C:\Users\nbrock\AppData\Local\Temp\ipykernel_19880\2756164142.py:4: RuntimeWarning: All-NaN slice encountered
  tmp_stats = np.array([np.nanmin(raw_data, axis=0),
C:\Users\nbrock\AppData\Local\Temp\ipykernel_19880\2756164142.py:6: RuntimeWarning: All-NaN slice encountered
  np.nanmax(raw_data,axis=0)])

In [10]:
# split dataset
# which cols store txt, and which numeric?
col_strings = np.argwhere(np.isnan(mean_fill)).squeeze()
print(col_strings)

col_numeric = np.argwhere(np.isnan(mean_fill) == False).squeeze()
print(col_numeric)

[ 1  3  5  8  9 10 11 12]
[ 0  2  4  6  7 13]

In [11]:
data_str = np.genfromtxt('loan-data.csv',
                    delimiter=';',
                    autostrip=True,
                    skip_header=1,
                    usecols=col_strings,
                    dtype='str')
print('string data\n', data_str)

data_num = np.genfromtxt('loan-data.csv',
                    delimiter=';',
                    autostrip=True,
                    skip_header=1,
                    usecols=col_numeric,
                    filling_values=max_fill)
print('numeric data\n', data_num)

header_full = np.genfromtxt('loan-data.csv',
                    delimiter=';',
                    autostrip=True,
                    skip_footer=raw_data.shape[0],
                    dtype='str')
print('full header\n', header_full)

header_str, header_num = header_full[col_strings], header_full[col_numeric]
print('string headers\n', header_str)
print('numeric headers\n', header_num)

string data
 [['May-15' 'Current' '36 months' ... 'Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226' 'CA']
 ['' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261' 'NY']
 ['Sep-15' 'Current' '36 months' ... 'Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726' 'PA']
 ...
 ['Jun-15' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990' 'CA']
 ['Apr-15' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151' 'OH']
 ['Dec-15' 'Current' '36 months' ... ''
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249' 'IL']]
numeric data
 [[48010226.      35000.      35000.         13.33     1184.86     9452.96]
 [57693261.      30000.      30000.   68616520.        938.57     4679.7 ]
 [59432726.      15000.      15000.   68616520.        494.86     1969.83]
 ...
 [50415990.      10000.      10000.   68616520.   68616520.       2185.64]
 [46154151.   68616520.      10000.         16.55      354.3      3199.4 ]
 [66055249.      10000.      10000.   68616520.        309.97      301.9 ]]
full header
 ['id' 'issue_d' 'loan_amnt' 'loan_status' 'funded_amnt' 'term' 'int_rate' 'installment' 'grade'
 'sub_grade' 'verification_status' 'url' 'addr_state' 'total_pymnt']
string headers
 ['issue_d' 'loan_status' 'term' 'grade' 'sub_grade' 'verification_status' 'url' 'addr_state']
numeric headers
 ['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt']

In [12]:
# function to save file and reload at checkpoints
def checkpoint(file_name, check_header, check_data):
    np.savez(file_name, header=check_header, data=check_data)
    check_variable = np.load(file_name + '.npz')
    return check_variable

# test
check_test = checkpoint('check-test', header_str, data_str)
print(check_test['header'], check_test['data'], '\nare they equal?: ',np.array_equal(check_test['data'], data_str))

['issue_d' 'loan_status' 'term' 'grade' 'sub_grade' 'verification_status' 'url' 'addr_state'] [['May-15' 'Current' '36 months' ... 'Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226' 'CA']
 ['' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261' 'NY']
 ['Sep-15' 'Current' '36 months' ... 'Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726' 'PA']
 ...
 ['Jun-15' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990' 'CA']
 ['Apr-15' 'Current' '36 months' ... 'Source Verified'
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151' 'OH']
 ['Dec-15' 'Current' '36 months' ... ''
  'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249' 'IL']]
are they equal?:  True

In [13]:
# what is in the headers with strings?
print(header_str)

['issue_d' 'loan_status' 'term' 'grade' 'sub_grade' 'verification_status' 'url' 'addr_state']

In [14]:
# cleaning "issue_date" col

In [15]:
# rename
header_str[0] = 'issue_date'
print(header_str)

['issue_date' 'loan_status' 'term' 'grade' 'sub_grade' 'verification_status' 'url' 'addr_state']

In [16]:
# all are in 2015
# strip year
print(np.unique(data_str[:,0]))
data_str[:,0] = np.chararray.strip(data_str[:,0], '-15')
print(np.unique(data_str[:,0]))

['' 'Apr-15' 'Aug-15' 'Dec-15' 'Feb-15' 'Jan-15' 'Jul-15' 'Jun-15' 'Mar-15' 'May-15' 'Nov-15'
 'Oct-15' 'Sep-15']
['' 'Apr' 'Aug' 'Dec' 'Feb' 'Jan' 'Jul' 'Jun' 'Mar' 'May' 'Nov' 'Oct' 'Sep']

In [17]:
# convert months to numeric
months = np.array(['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
for i in range(13):
    data_str[:,0] = np.where(data_str[:,0] == months[i], i, data_str[:,0])
print(data_str[:,0])

['5' '0' '9' ... '6' '4' '12']

In [18]:
# cleaning "loan_status" col

In [19]:
print(data_str[:,1])
# all possible values
print(np.unique(data_str[:,1]))

['Current' 'Current' 'Current' ... 'Current' 'Current' 'Current']
['' 'Charged Off' 'Current' 'Default' 'Fully Paid' 'In Grace Period' 'Issued' 'Late (16-30 days)'
 'Late (31-120 days)']

In [20]:
# assign nums to all values?
# the algorithm only cares if they are in good condition...
# let's use a dummy to say whether they have defaulted or not
# 1=good
# 0=bad

status_bad = np.array(['', 'Charged Off', 'Default', 'Late (31-120 days)'])
# if status is bad, assign 0, else 1
data_str[:,1] = np.where(np.isin(data_str[:,1], status_bad), 0, 1)
print(np.unique(data_str[:,1]))

['0' '1']

In [21]:
# cleaning the "term" column

In [22]:
# remove " months"
print(np.unique(data_str[:,2]))
data_str[:,2] = np.chararray.strip(data_str[:,2],' months')
print(data_str[:,2])
# rename col header
header_str[2] = 'term_months'
print(header_str)

['' '36 months' '60 months']
['36' '36' '36' ... '36' '36' '36']
['issue_date' 'loan_status' 'term_months' 'grade' 'sub_grade' 'verification_status' 'url'
 'addr_state']

In [23]:
# fill zeroes with 60 - worst case scenario - play it safe
data_str[:,2] = np.where(data_str[:,2] == '',
                        60,
                         data_str[:,2])
print(np.unique(data_str[:,2]))
# perhaps only use 1 and 0 instead?

['36' '60']

In [24]:
# cleaning"grade" and "subgrade" cols

In [25]:
# '' indicates missing data
print(np.unique(data_str[:,3]))
print(np.unique(data_str[:,4]))
# the "grade" column is redundant
# "grade" can be used to fill empty spaces in "subgrade"

['' 'A' 'B' 'C' 'D' 'E' 'F' 'G']
['' 'A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4' 'C5' 'D1' 'D2' 'D3' 'D4'
 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3' 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']

In [26]:
# go through all "grade" excluding the empty one
# check if the subgrade is missing
# if subgrade missing, also check if grade = grade of iteration
# if both true, assing the lowest subgrade "5"
for i in np.unique(data_str[:,3])[1:]:
    data_str[:,4] = np.where((data_str[:,4] == '') & (data_str[:,3] == i),
                             i + '5',
                             data_str[:,4])
# still missing data... 9 records
print(np.unique(data_str[:,4], return_counts=True))

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4',
       'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4',
       'F5', 'G1', 'G2', 'G3', 'G4', 'G5'], dtype='<U69'), array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267,
       250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5],
      dtype=int64))

In [27]:
# to play it safe again, we fill the remaining blanks with a new, even lower category "H1"
for i in np.unique(data_str[:,3])[1:]:
    data_str[:,4] = np.where(data_str[:,4] == '',
                            'H1',
                            data_str[:,4])
print(np.unique(data_str[:,4]))

['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4' 'C5' 'D1' 'D2' 'D3' 'D4'
 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3' 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5' 'H1']

In [28]:
# drop now redundant category "grade"
data_str = np.delete(data_str, 3, axis=1)
print(data_str[:,3])
header_str = np.delete(header_str, 3)
print(header_str[3])

['C3' 'A5' 'B5' ... 'A5' 'D2' 'A4']
sub_grade

In [29]:
# convert subgrade. want integers
print(np.unique(data_str[:,3]))

['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4' 'C5' 'D1' 'D2' 'D3' 'D4'
 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3' 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5' 'H1']

In [30]:
# dictionary for looping
# keys = unique subgrades
# values = int
keys = list(np.unique(data_str[:,3]))
values = list(range(1,np.unique(data_str[:,3]).shape[0] + 1))
dict_subgrade = dict(zip(keys,values))
print(dict_subgrade, end='')
print('\n----------')

# save numbers over subgrades
for i in np.unique(data_str[:,3]):
    data_str[:,3] = np.where(data_str[:,3] == i,
                            dict_subgrade[i],
                            data_str[:,3])
print(np.unique(data_str[:,3]))

{'A1': 1, 'A2': 2, 'A3': 3, 'A4': 4, 'A5': 5, 'B1': 6, 'B2': 7, 'B3': 8, 'B4': 9, 'B5': 10, 'C1': 11, 'C2': 12, 'C3': 13, 'C4': 14, 'C5': 15, 'D1': 16, 'D2': 17, 'D3': 18, 'D4': 19, 'D5': 20, 'E1': 21, 'E2': 22, 'E3': 23, 'E4': 24, 'E5': 25, 'F1': 26, 'F2': 27, 'F3': 28, 'F4': 29, 'F5': 30, 'G1': 31, 'G2': 32, 'G3': 33, 'G4': 34, 'G5': 35, 'H1': 36}
----------
['1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '21' '22' '23' '24' '25' '26' '27'
 '28' '29' '3' '30' '31' '32' '33' '34' '35' '36' '4' '5' '6' '7' '8' '9']

In [31]:
# cleaning "verification_status"
print(np.unique(data_str[:,4]))

['' 'Not Verified' 'Source Verified' 'Verified']

In [32]:
# again, use bools instead
data_str[:,4] = np.where((data_str[:,4] == '') | (data_str[:,4] == 'Not Verified'), 0, 1)
print(np.unique(data_str[:,4]))

['0' '1']

In [33]:
# cleaning "url"
print(np.unique(data_str[:,5]))

['https://www.lendingclub.com/browse/loanDetail.action?loan_id=12606806'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=13026045'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1312426' ...
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8138291'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8214572'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=849994']

In [34]:
# strip repeating parts...
data_str[:,5] = np.chararray.strip(data_str[:,5], 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=')
print(data_str[:,5])
# it's just "loan_id"
# same as numeric data col 0 "id"
print(data_num[:,0])
print('are they equal?', np.array_equal(data_str[:,5].astype(dtype='int32'), data_num[:,0].astype(dtype='int32')))
# we can drop the url colum completely
data_str = np.delete(data_str, 5, axis=1)
header_str = np.delete(header_str, 5)

print(data_num[:,0])
print(header_num)

['48010226' '57693261' '59432726' ... '50415990' '46154151' '66055249']
[48010226. 57693261. 59432726. ... 50415990. 46154151. 66055249.]
are they equal? True
[48010226. 57693261. 59432726. ... 50415990. 46154151. 66055249.]
['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt']

In [35]:
# clean "state_address" col
print(np.unique(data_str[:,5]))
print(np.unique(data_str[:,5]).size)
# Iowa is not here. they likely used it as the "base case"

['' 'AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD'
 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC' 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI'
 'SC' 'SD' 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']
50

In [36]:
# display states by num applications desc
# tuple assignment
states_names, states_count = np.unique(data_str[:,5], return_counts=True)
# negative sort to get desc. argsort >> index
s = np.argsort(-states_count)
# print according ot indicies
print(states_names[s], states_count[s])
# many more for big states than others
# the smaller states could be affected by outliers
# organize in regions instead

['CA' 'NY' 'TX' 'FL' '' 'IL' 'NJ' 'GA' 'PA' 'OH' 'MI' 'NC' 'VA' 'MD' 'AZ' 'WA' 'MA' 'CO' 'MO' 'MN'
 'IN' 'WI' 'CT' 'TN' 'NV' 'AL' 'LA' 'OR' 'SC' 'KY' 'KS' 'OK' 'UT' 'AR' 'MS' 'NH' 'NM' 'WV' 'HI'
 'RI' 'MT' 'DE' 'DC' 'WY' 'AK' 'NE' 'SD' 'VT' 'ND' 'ME'] [1336  777  758  690  500  389  341  321  320  312  267  261  242  222  220  216  210  201  160
  156  152  148  143  143  130  119  116  108  107   84   84   83   74   74   61   58   57   49
   44   40   28   27   27   27   26   25   24   17   16   10]

In [37]:
# blanks >> 0
data_str[:,5] = np.where(data_str[:,5] == '', 0, data_str[:,5])
# regions
west = np.array(['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY', 'UT', 'CO', 'AZ', 'NM', 'HI', 'AK'])
south = np.array(['TX', 'OK', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'FL', 'GA', 'SC', 'NC', 'VA', 'WV', 'MD', 'DE', 'DC'])
midwest = np.array(['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH'])
east = np.array(['PA', 'NY', 'NJ', 'CT', 'MA', 'VT', 'NH', 'ME', 'RI'])

In [38]:
# assign bools
data_str[:,5] = np.where(np.isin(data_str[:,5], west), 1, data_str[:,5])
data_str[:,5] = np.where(np.isin(data_str[:,5], south), 2, data_str[:,5])
data_str[:,5] = np.where(np.isin(data_str[:,5], midwest), 3, data_str[:,5])
data_str[:,5] = np.where(np.isin(data_str[:,5], east), 4, data_str[:,5])
print(np.unique(data_str[:,5]))

['0' '1' '2' '3' '4']

In [39]:
# convert to nums
data_str = data_str.astype(dtype='int')

In [40]:
# all data_str is not num!
print(data_str)

[[ 5  1 36 13  1  1]
 [ 0  1 36  5  1  4]
 [ 9  1 36 10  1  4]
 ...
 [ 6  1 36  5  1  1]
 [ 4  1 36 17  1  3]
 [12  1 36  4  0  3]]

In [41]:
check_str = checkpoint('checkpoint-strings', header_str, data_str)
print(check_str['header'])
print(check_str['data'])
print('is the checkpint equal?', np.array_equal(data_str, check_str['data']))

['issue_date' 'loan_status' 'term_months' 'sub_grade' 'verification_status' 'addr_state']
[[ 5  1 36 13  1  1]
 [ 0  1 36  5  1  4]
 [ 9  1 36 10  1  4]
 ...
 [ 6  1 36  5  1  1]
 [ 4  1 36 17  1  3]
 [12  1 36  4  0  3]]
is the checkpint equal? True

In [42]:
# cleaning the numeric cols
print(data_num)
# check missing values
print('missing values:', np.isnan(data_num).sum())
# missing values already filled before

[[48010226.      35000.      35000.         13.33     1184.86     9452.96]
 [57693261.      30000.      30000.   68616520.        938.57     4679.7 ]
 [59432726.      15000.      15000.   68616520.        494.86     1969.83]
 ...
 [50415990.      10000.      10000.   68616520.   68616520.       2185.64]
 [46154151.   68616520.      10000.         16.55      354.3      3199.4 ]
 [66055249.      10000.      10000.   68616520.        309.97      301.9 ]]
missing values: 0

In [43]:
# substitute filler values
print(max_fill)
print('max_fill in col 0:', np.isin(data_num[:,0], max_fill).sum())

68616520.0
max_fill in col 0: 0

In [44]:
print(header_num)
# we want worst case scenario, so we should replace "funded_amt" max for min
# others can be max

# temp stats - min, mean, max values
print(tmp_stats)
# view without missing values for strings
print(tmp_stats[:, col_numeric])

['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt']
[[  373332.           nan     1000.           nan     1000.           nan        6.         31.42
          nan         nan         nan         nan         nan        0.  ]
 [54015809.19         nan    15273.46         nan    15311.04         nan       16.62      440.92
          nan         nan         nan         nan         nan     3143.85]
 [68616519.           nan    35000.           nan    35000.           nan       28.99     1372.97
          nan         nan         nan         nan         nan    41913.62]]
[[  373332.       1000.       1000.          6.         31.42        0.  ]
 [54015809.19    15273.46    15311.04       16.62      440.92     3143.85]
 [68616519.      35000.      35000.         28.99     1372.97    41913.62]]

In [45]:
# replace "funded_amt" "max_fill" with min for col - conservative
print(data_num[:,2])
data_num[:,2] = np.where(data_num[:,2] == max_fill,
                         tmp_stats[0, col_numeric[2]],
                         data_num[:,2])
print(data_num[:,2])
# remember that the tmp_stats includes the str columns
print(tmp_stats[0,3])
# do this to see stats for numeric array
print(tmp_stats[0, col_numeric][3])

[35000. 30000. 15000. ... 10000. 10000. 10000.]
[35000. 30000. 15000. ... 10000. 10000. 10000.]
nan
6.0

In [46]:
# other cols - max for each column
# "for" loop for all indicies
for i in [1,3,4,5]:
    data_num[:,i] = np.where(data_num[:,i] == max_fill,
                             tmp_stats[2, col_numeric[i]],
                             data_num[:,i])
print(data_num)

[[48010226.      35000.      35000.         13.33     1184.86     9452.96]
 [57693261.      30000.      30000.         28.99      938.57     4679.7 ]
 [59432726.      15000.      15000.         28.99      494.86     1969.83]
 ...
 [50415990.      10000.      10000.         28.99     1372.97     2185.64]
 [46154151.      35000.      10000.         16.55      354.3      3199.4 ]
 [66055249.      10000.      10000.         28.99      309.97      301.9 ]]

In [47]:
# currency exchange rate
# use adjusted closing price only
data_ex = np.genfromtxt('EUR-USD.csv', delimiter=',', autostrip=True, skip_header=1, usecols=3)
print(data_ex)

[1.13 1.12 1.08 1.11 1.1  1.12 1.09 1.13 1.13 1.1  1.06 1.09]

In [48]:
# dates
print(data_str[:,0])

[ 5  0  9 ...  6  4 12]

In [49]:
exchange_rate = data_str[:,0]
# loop for every month
# i-1 to get the index vs the month
for i in range(1,13):
    exchange_rate = np.where(exchange_rate == i, data_ex[i-1], exchange_rate)

# replace 0 with mean
exchange_rate = np.where(exchange_rate == 0, np.mean(data_ex), exchange_rate)

print(exchange_rate)

[1.1  1.11 1.13 ... 1.12 1.11 1.09]

In [50]:
print(exchange_rate.shape)
print(data_num.shape)
# they are different dimensions
# must reshape "exchange_rate"
exchange_rate = np.reshape(exchange_rate, (10000,1))
# stack them - append last col
data_num = np.hstack((data_num, exchange_rate))
print(data_num)
# headers
header_num = np.concatenate((header_num, np.array(['exchange_rate'])))
print(header_num)

(10000,)
(10000, 6)
[[48010226.      35000.      35000.   ...     1184.86     9452.96        1.1 ]
 [57693261.      30000.      30000.   ...      938.57     4679.7         1.11]
 [59432726.      15000.      15000.   ...      494.86     1969.83        1.13]
 ...
 [50415990.      10000.      10000.   ...     1372.97     2185.64        1.12]
 [46154151.      35000.      10000.   ...      354.3      3199.4         1.11]
 [66055249.      10000.      10000.   ...      309.97      301.9         1.09]]
['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt' 'exchange_rate']

In [51]:
# currency exchange
# include a EUR col for every USD col
print(header_num)
cols_dollar = np.array([1,2,4,5])
print(data_num[cols_dollar])

['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt' 'exchange_rate']
[[57693261.      30000.      30000.         28.99      938.57     4679.7         1.11]
 [59432726.      15000.      15000.         28.99      494.86     1969.83        1.13]
 [57803010.       8075.       8075.         19.19      296.78     1178.51        1.13]
 [63398019.      14400.      14400.         13.99      334.99      681.17        1.1 ]]

In [52]:
# loop to append
for i in cols_dollar:
    data_num = np.hstack((data_num, np.reshape(data_num[:,i] / data_num[:,6], (10000,1))))
                         
print(data_num.shape)

(10000, 11)

In [53]:
# update the header
header_add = np.array([col + '_EUR' for col in header_num[cols_dollar]])
header_num = np.concatenate((header_num, header_add))
print(header_num)

['id' 'loan_amnt' 'funded_amnt' 'int_rate' 'installment' 'total_pymnt' 'exchange_rate'
 'loan_amnt_EUR' 'funded_amnt_EUR' 'installment_EUR' 'total_pymnt_EUR']

In [54]:
# add USD to others
header_num[cols_dollar] = np.array([col + '_USD' for col in header_num[cols_dollar]])
print(header_num)

['id' 'loan_amnt_USD' 'funded_amnt_USD' 'int_rate' 'installment_USD' 'total_pymnt_USD'
 'exchange_rate' 'loan_amnt_EUR' 'funded_amnt_EUR' 'installment_EUR' 'total_pymnt_EUR']

In [55]:
# reorder
col_idx_order = [0,1,7,2,8,3,4,9,5,10,6]
header_num = header_num[col_idx_order]
data_num = data_num[:,col_idx_order]
print(header_num)
print(data_num)

['id' 'loan_amnt_USD' 'loan_amnt_EUR' 'funded_amnt_USD' 'funded_amnt_EUR' 'int_rate'
 'installment_USD' 'installment_EUR' 'total_pymnt_USD' 'total_pymnt_EUR' 'exchange_rate']
[[48010226.      35000.      31933.3  ...     9452.96     8624.69        1.1 ]
 [57693261.      30000.      27132.46 ...     4679.7      4232.39        1.11]
 [59432726.      15000.      13326.3  ...     1969.83     1750.04        1.13]
 ...
 [50415990.      10000.       8910.3  ...     2185.64     1947.47        1.12]
 [46154151.      35000.      31490.9  ...     3199.4      2878.63        1.11]
 [66055249.      10000.       9145.8  ...      301.9       276.11        1.09]]

In [56]:
# change "int_rate" col to decimal
print(data_num[:,5])
data_num[:,5] = data_num[:,5]/100
print(data_num[:,5])

[13.33 28.99 28.99 ... 28.99 16.55 28.99]
[0.13 0.29 0.29 ... 0.29 0.17 0.29]

In [57]:
# numeric checkpoint
check_num = checkpoint('checkpoint-numeric', header_num, data_num)
print('is the checkpoint equal?', np.array_equal(data_num, check_num['data']))

is the checkpoint equal? True

In [58]:
# finalize the dataset
# we separated str and num
# we preprocessed separately
# now, we combine

In [59]:
print(check_str['data'].shape)
print(check_num['data'].shape)
# can be stacked
print(np.hstack((check_num['data'], check_str['data'])).shape)
data = np.hstack((check_num['data'], check_str['data']))
print(data)

(10000, 6)
(10000, 11)
(10000, 17)
[[48010226.      35000.      31933.3  ...       13.          1.          1.  ]
 [57693261.      30000.      27132.46 ...        5.          1.          4.  ]
 [59432726.      15000.      13326.3  ...       10.          1.          4.  ]
 ...
 [50415990.      10000.       8910.3  ...        5.          1.          1.  ]
 [46154151.      35000.      31490.9  ...       17.          1.          3.  ]
 [66055249.      10000.       9145.8  ...        4.          0.          3.  ]]

In [60]:
# check nans
print('nans: ', np.isnan(data).sum())

nans:  0

In [61]:
# create header
header_full = np.concatenate((check_num['header'], check_str['header']))
print(header_full)

['id' 'loan_amnt_USD' 'loan_amnt_EUR' 'funded_amnt_USD' 'funded_amnt_EUR' 'int_rate'
 'installment_USD' 'installment_EUR' 'total_pymnt_USD' 'total_pymnt_EUR' 'exchange_rate'
 'issue_date' 'loan_status' 'term_months' 'sub_grade' 'verification_status' 'addr_state']

In [62]:
# sort
# arrange by id
# print(np.sort(data[:,0]))
data_idx = np.argsort(data[:,0])
data = data[data_idx]
print(data)

[[  373332.       9950.       9038.08 ...       21.          0.          1.  ]
 [  575239.      12000.      10900.2  ...       25.          1.          2.  ]
 [  707689.      10000.       8924.3  ...       13.          1.          0.  ]
 ...
 [68614880.       5600.       5121.65 ...        8.          1.          1.  ]
 [68615915.       4000.       3658.32 ...       10.          1.          2.  ]
 [68616519.      21600.      19754.93 ...        3.          0.          2.  ]]

In [63]:
# stack header
data = np.vstack((header_full, data))
print(data)

[['id' 'loan_amnt_USD' 'loan_amnt_EUR' ... 'sub_grade' 'verification_status' 'addr_state']
 ['373332.0' '9950.0' '9038.082814338286' ... '21.0' '0.0' '1.0']
 ['575239.0' '12000.0' '10900.20037910145' ... '25.0' '1.0' '2.0']
 ...
 ['68614880.0' '5600.0' '5121.647851612413' ... '8.0' '1.0' '1.0']
 ['68615915.0' '4000.0' '3658.319894008867' ... '10.0' '1.0' '2.0']
 ['68616519.0' '21600.0' '19754.927427647883' ... '3.0' '0.0' '2.0']]

In [64]:
# save to new file
np.savetxt('loan-data-preprocessed.csv', data, fmt='%s', delimiter=',')
print('stored preprocessed file in directory')

stored file in directory