In [ ]:
# json
# human readable
# universal format - databases
# plain text

In [ ]:
# json is like dictionary...
data = {'a': 2250, 'b':1566, 'c':7589}
print(type(data))

# ... but must be all string with double quotes
import json
str_data = '{"a": 2250, "b":1566, "c":7589}'
json_data = json.loads(str_data)
print(type(json_data))
# use this to read a dictionary properly, not as a string

In [2]:
# also, use pandas
import pandas as pd
json_df = pd.read_json('Lending-company.json')
print(json_df)
# with open('Lending-company.json') as f:
#     json_df = pd.read_json(f)
# print(json_df)

      Loan ID String_ID    Product CustomerGender      Location    Region  \
0           1      id_1  Product B           Male    Location 2  Region 2
1           2      id_2  Product B           Male    Location 3  Region 3
2           3      id_3  Product C         Female    Location 5  Region 5
3           4      id_4  Product B           Male    Location 6  Region 1
4           5      id_5  Product D         Female    Location 7  Region 2
...       ...       ...        ...            ...           ...       ...
1038     1039   id_1039  Product B         Female   Location 39  Region 6
1039     1040   id_1040  Product B           Male   Location 50  Region 1
1040     1041   id_1041  Product B           Male   Location 23  Region 4
1041     1042   id_1042  Product C   NotSpecified   Location 52  Region 6
1042     1043   id_1043  Product B         Female  Location 142  Region 6

      TotalPrice   StartDate  Deposit  DailyRate  TotalDays  AmountPaid30  \
0          16600    7/4/2014     2000         40        365          3121
1          16600    1/2/2015     2000         40        365          3061
2          15600   12/8/2012     1000         40        365          2160
3          16600   2/20/2015     2000         40        365          3041
4          20250  10/28/2013     2000         50        365          3470
...          ...         ...      ...        ...        ...           ...
1038       16600  12/29/2014     2000         40        365          3401
1039       16600   3/28/2014     2000         40        365          4240
1040       16600   4/26/2014     2000         40        365          4201
1041       15600  10/25/2012     1000         40        365          2080
1042       16600   5/15/2015     2000         40        365          4601

      AmountPaid60  AmountPaid360     LoanStatus360
0             4241          13621            Active
1             4171          15041            Active
2             3280          15340              None
3             4241          15321            Active
4             4820          13720            Active
...            ...            ...               ...
1038          4601          16600  Finished Payment
1039          5440          16600  Finished Payment
1040          5001          16600  Finished Payment
1041          3320          15600  Finished Payment
1042          4601          16600  Finished Payment

[1043 rows x 15 columns]

In [3]:
# reading vs displaying
# excel will read this .csv as a flatfile; it won't figure out where the cells start/end
# "conver text to columns">>delimiter>>comma