In [ ]:
# only use this if the company prefers
# json and csv are faster

In [1]:
import pandas as pd

In [6]:
data = pd.read_excel('Lending-company.xlsx')
print(data.head())

   LoanID  StringID    Product CustomerGender     Location    Region  \
0       1  LoanID_1  Product B         Female   Location 3  Region 2
1       2  LoanID_2  Product D         Female   Location 6  Region 6
2       3  LoanID_3  Product B           Male   Location 8  Region 3
3       4  LoanID_4  Product A           Male  Location 26  Region 2
4       5  LoanID_5  Product B         Female  Location 34  Region 3

   TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0     17600.0  04/07/2018     2200         45          365       3221
1         NaN  02/01/2019     2200         45          365       3161
2     16600.0  08/12/2016     1000         45          365       2260
3     17600.0         NaN     2200         45          365       3141
4     21250.0  28/10/2017     2200         55          365       3570

   AmtPaid60  AmtPaid360 LoanStatus
0       4166       14621     Active
1       4096       16041     Active
2       3205       16340        NaN
3       4166       16321     Active
4       4745       14720     Active

In [9]:
data = pd.read_csv(r'C:\Users\nbrock\OneDrive\coding\jupyter-notebooks\text-files\Lending-Company-Saving.csv',
                  usecols=['StringID', 'Location', 'Region'],
                  index_col='StringID',
                  sep=',')
print(data.head())

            Location    Region
StringID
id_1      Location 2  Region 2
id_2      Location 3       NaN
id_3      Location 5  Region 5
id_4      Location 6  Region 1
id_5      Location 7  Region 2

In [28]:
# different separators
# proper way
data = pd.read_csv(r'C:\Users\nbrock\OneDrive\coding\jupyter-notebooks\text-files\sample_delimiter.txt',
                   sep='\t',
                  usecols=['name','value'])
print(data)

  name  value
0    a    818
1    b    681
2    c     98
3    d    323
4    e    157
5    f    359
6    g    983

In [48]:
# if excel can't figure out the separator, use pandas
# single col
data = pd.read_csv('sample_delimiter.csv',
                  delimiter=',',
                  header=1,
                   names=['product_id', 'value', 'unnamed'],
                  index_col='product_id',
                  usecols=['product_id','value'])
print(data.head())

            value
product_id
1            4840
2            1984
3            3518
4            4900
5            3105

In [55]:
# single column to dataframe
data = pd.read_csv('one_col.csv')
print(data.head())
print(type(data))

print('--------------------')

# single column to series
ser = data.squeeze('columns')
print(ser.head())
print(type(ser))

  genders
0    Male
1  Female
2    Male
3    Male
4  Female
<class 'pandas.core.frame.DataFrame'>
--------------------
0      Male
1    Female
2      Male
3      Male
4    Female
Name: genders, dtype: object
<class 'pandas.core.series.Series'>

In [58]:
# extract a column as a series
df = pd.read_excel('Lending-company.xlsx',
                  usecols=['CustomerGender'])
ser = df.squeeze(1)
print(ser.head())
print(type(ser))

0    Female
1    Female
2      Male
3      Male
4    Female
Name: CustomerGender, dtype: object
<class 'pandas.core.series.Series'>

In [59]:
# squeeze a row
ser_row = df.squeeze(0)
print(ser_row)

     CustomerGender
0            Female
1            Female
2              Male
3              Male
4            Female
...             ...
1038           Male
1039           Male
1040   NotSpecified
1041         Female
1042   NotSpecified

[1043 rows x 1 columns]