In [1]:
import numpy as np

In [4]:
# import normal data
data = np.loadtxt('Lending-company-Numeric.csv', delimiter=',')

# import nan data
# replacing nans w mean
# import
data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv', delimiter=';')
# get max fill
max_fill = np.nanmax(data_nan).round(2) + 1
# get mean fill
mean_fill = np.nanmean(data_nan, axis=0).round(2)
# import with max fill
data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv',
                         delimiter=';',
                        filling_values=max_fill)
# replace max fill with mean fill
for i in range(data_nan.shape[1]):
    data[:,i] = np.where(data_nan[:,i] == max_fill, mean_fill[i], data_nan[:,i])
    
# display wihtout scientific notation
np.set_printoptions(suppress=True)
print(data)
print('----------')
print(data_nan)

[[ 2000.      40.     365.    3121.    4241.   13621.  ]
 [ 2000.      40.     365.    3061.    4171.   15041.  ]
 [ 1000.      40.     365.    2160.    3280.   15340.  ]
 ...
 [ 2250.25    40.     365.    4201.    5001.   16600.  ]
 [ 1000.      40.     365.    2080.    3320.   15600.  ]
 [ 2000.      40.     365.    4601.    4601.   16600.  ]]
[[ 2000.    40.   365.  3121.  4241. 13621.]
 [ 2000.    40.   365.  3061.  4171. 15041.]
 [ 1000.    40.   365.  2160.  3280. 15340.]
 ...
 [64002.    40.   365.  4201.  5001. 16600.]
 [ 1000.    40.   365.  2080.  3320. 15600.]
 [ 2000.    40.   365.  4601.  4601. 16600.]]

In [12]:
# stack must have matching shapes
# enter a tuple
# either order
print(np.stack((data[:,0], data[:,1])))
print('----------')
print(np.stack((data[:,1], data[:,0])))
print('----------')
# the transpose keeps this order
print(np.transpose(data[:,:2]))

[[2000.   2000.   1000.   ... 2250.25 1000.   2000.  ]
 [  40.     40.     40.   ...   40.     40.     40.  ]]
----------
[[  40.     40.     40.   ...   40.     40.     40.  ]
 [2000.   2000.   1000.   ... 2250.25 1000.   2000.  ]]
----------
[[2000.   2000.   1000.   ... 2250.25 1000.   2000.  ]
 [  40.     40.     40.   ...   40.     40.     40.  ]]

In [14]:
# many
# axis=1 puts then side by side
print(np.stack((data[:,3], data[:,0], data[:,1]), axis=1))

[[3121.   2000.     40.  ]
 [3061.   2000.     40.  ]
 [2160.   1000.     40.  ]
 ...
 [4201.   2250.25   40.  ]
 [2080.   1000.     40.  ]
 [4601.   2000.     40.  ]]

In [18]:
# vstack = vertical
print(data_nan.shape)
print(np.vstack((data, data_nan)).shape)

(1043, 6)
(2086, 6)

In [19]:
# hstack = horizontal
print(data_nan.shape)
print(np.hstack((data, data_nan)).shape)

(1043, 6)
(1043, 12)

In [23]:
# dstack = depth 3D
# (row, col, dimension)
print(data_nan.shape)
print(np.dstack((data, data_nan)).shape)
# row 0, all cols, depth 0
print(np.dstack((data, data_nan))[0,:,0])

(1043, 6)
(1043, 6, 2)
[ 2000.    40.   365.  3121.  4241. 13621.]

In [ ]:
# stack works along 3rd axis
# returns one dimension higher than input
print(data_nan.shape)
print(np.stack((data, data_nan), axis=-1).shape)