In [1]:
import pandas as pd
import numpy as np

In [2]:
# dataframe
# tabular
# multiple observations for a given row
# matrix
# collection of Series objects

In [4]:
a = np.array([[3,2,1], [6,3,2]])
print(a)

[[3 2 1]
 [6 3 2]]

In [6]:
df_a = pd.DataFrame(a, columns = ['col1', 'col2', 'col3'], index=['row1','row2'])
print(df_a)

      col1  col2  col3
row1     3     2     1
row2     6     3     2

In [7]:
print(df_a.index)
print(df_a.columns)
print(type(df_a.columns))

Index(['row1', 'row2'], dtype='object')
Index(['col1', 'col2', 'col3'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [8]:
print(df_a.axes)
print(df_a.dtypes)

[Index(['row1', 'row2'], dtype='object'), Index(['col1', 'col2', 'col3'], dtype='object')]
col1    int32
col2    int32
col3    int32
dtype: object
[[3 2 1]
 [6 3 2]]

In [9]:
# .values vs to_numpy
print(df_a.values)
print(type(df_a.values))

print(df_a.to_numpy())
print(type(df_a.to_numpy()))

[[3 2 1]
 [6 3 2]]
<class 'numpy.ndarray'>
[[3 2 1]
 [6 3 2]]
<class 'numpy.ndarray'>

In [12]:
# index not included
print(df_a.shape)
print(len(df_a.columns))

(2, 3)
3

In [19]:
# indexing
# subset
# not preferred
print(df_a.col1)
# better
print(df_a['col1'], '\n', type(df_a['col1']))

two_cols = df_a[['col1', 'col2']]
print(two_cols)

row1    3
row2    6
Name: col1, dtype: int32
row1    3
row2    6
Name: col1, dtype: int32
 <class 'pandas.core.series.Series'>
      col1  col2
row1     3     2
row2     6     3

In [20]:
# py: lists
# pandas:  Series
# numpy: arrays

In [33]:
# iloc = "integer location"

# default to row specifier
print(df_a.iloc[0])

# professional: use both row and column specifier
# row 0, all columns
print(df_a.iloc[0,:])

# all rows, col 3
print(df_a.iloc[:,2], '\n', type(df_a.iloc[:,2]))

# specific columns, all rows
# all rows, columns 1 and 3
print(df_a.iloc[:,[0,2]])

col1    3
col2    2
col3    1
Name: row1, dtype: int32
col1    3
col2    2
col3    1
Name: row1, dtype: int32
row1    1
row2    2
Name: col3, dtype: int32
 <class 'pandas.core.series.Series'>
      col1  col2  col3
row1     3     2     1
row2     6     3     2
      col1  col3
row1     3     1
row2     6     2

In [39]:
# loc
# default to row
print(df_a.loc['row1'])
# more professional
print(df_a.loc[:, 'col1'])

# all columns, one row
print(df_a.loc['row1', :])

col1    3
col2    2
col3    1
Name: row1, dtype: int32
row1    3
row2    6
Name: col1, dtype: int32
col1    3
col2    2
col3    1
Name: row1, dtype: int32

In [41]:
# start counting from zero
# iloc on a single column
print(df_a['col1'].iloc[0])
# or loc
print(df_a['col1'].loc['row1'])

3
3

In [42]:
# don't chain... can be confusing
print(df_a['col1'][0])

3

In [43]:
# don't name index with numeric values...
# you might as well just use iloc at that point

In [44]:
# don't use loc and iloc in the same statement

In [45]:
# always use row and column indexers within brackets [0,1], [[0,1],2], etc.

In [ ]:
# always use ":" to indicate "all" rows/columns